@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* COLORS and FONTS */
body {
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 3;
    background: darkslateblue;

}
header {
    background: darkslateblue;
}

footer {
    background: rgb(73, 6, 136);
}

.content {
    flex-direction: row;
    flex-wrap: wrap;
    background:  darkslateblue;
}
.container{
    display: flex;
    flex-direction: column;
}
@media all and (min-width: 768px) {
    
    main {
        flex: 2;
        order: 2;
        min-height: 67.1vh;
    }
    .left-sidebar {
        order: 1;
        flex: 1;
    }
    .right-sidebar {
        flex: 1;
        order: 3;
    }
}
#first-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#sec-and-third{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
#second-part{
    display: flex;
    flex-direction: column;
}
#third-part{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#four-part{
   
    display: flex;
    flex-direction: column;
    align-items: center;


}
#five-part{
   
}
#click-button-next{
    display: none;
  border-radius: 4px;
  background-color: #41209b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}
#click-button-next span{
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#click-button-more{
    display: none;
  border-radius: 4px;
  background-color: #41209b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 4px;
  width: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 14px;
}
#click-button-more span{
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#buttonNext{
    
    border-radius: 4px;
  background-color: #41209b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 6px;
  width: 104px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 8px;
}
#buttonNext span{
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.inputsGenerados{
    padding: 0;
    height: 30px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 15px;
    margin: 2px;
}
#numberFamily{
    padding: 0;
    height: 30px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 14px;
}
#labelResults{
    font-size: 20px;
}
